<!DOCTYPE html>
<html lang="ja">
  <%- include('../_object/_component/_head.ejs') %>

  <body class="l-basic">
    <%- include('../_object/_component/_header.ejs') %>
    <main class="l-basic__main">
      <div class="l-basic__contents">
        <div class="l-basic__kv">
          <%- include('../_object/_component/_kv.ejs') %>
        </div>

        <section class="c-section">
          <h2 class="c-section__title">Gallery</h2>
          <%- include('../_object/_project/_gallery-image.ejs') %>
          <div class="c-section__box">
            <h3 class="c-section__sub-title">Movie</h3>
            <div class="movie">
              <iframe
                width="200"
                height="200"
                src="http://ext.nicovideo.jp/thumb_mylist/58294739"
                scrolling="no"
                style="border: solid 1px #ccc;"
                frameborder="0"
                ><a href="http://www.nicovideo.jp/mylist/58294739"
                  >【ニコニコ動画】</a
                ></iframe
              >
              <iframe
                width="200"
                height="200"
                src="http://ext.nicovideo.jp/thumb_mylist/25806743"
                scrolling="no"
                style="border: solid 1px #ccc;"
                frameborder="0"
                ><a href="http://www.nicovideo.jp/mylist/25806743"
                  >【ニコニコ動画】</a
                ></iframe
              >
              <iframe
                width="200"
                height="200"
                src="http://ext.nicovideo.jp/thumb_mylist/59520562"
                scrolling="no"
                style="border: solid 1px #ccc;"
                frameborder="0"
                ><a href="http://www.nicovideo.jp/mylist/59520562"
                  >【ニコニコ動画】</a
                ></iframe
              >
              <iframe
                width="200"
                height="200"
                src="http://ext.nicovideo.jp/thumb_mylist/25228084"
                scrolling="no"
                style="border: solid 1px #ccc;"
                frameborder="0"
                ><a href="http://www.nicovideo.jp/mylist/25228084"
                  >【ニコニコ動画】</a
                ></iframe
              >
            </div>
          </div>
          <%- include('../_object/_project/_gallery-game.ejs') %>
          <div class="c-section__box">
            <h3 class="c-section__sub-title">Comic</h3>
            <ul class="comic">
              <li>
                <a
                  href="images/gnot01.jpg"
                  data-fancybox="comic1"
                  data-caption="ノットイーヴィル！01"
                  ><img src="images/gnot01.jpg" alt="gnot1" width="230" height="325"
                /></a>
              </li>
              <li class="pc">
                <a
                  href="images/gnot02.jpg"
                  data-fancybox="comic1"
                  data-caption="ノットイーヴィル！02"
                  ><img src="images/gnot02.jpg" alt="gnot2" width="230" height="325"
                /></a>
              </li>
              <li class="pc">
                <a
                  href="images/gnot03.jpg"
                  data-fancybox="comic1"
                  data-caption="ノットイーヴィル！03"
                  ><img src="images/gnot03.jpg" alt="gnot3" width="230" height="325"
                /></a>
              </li>
            </ul>
            <h3>ノットイーヴィル！</h3>
            <p>
              Webにて<a href="http://notevil.xxxxxxxx.jp" target="_blank">フリー公開</a
              >しているオリジナル漫画です。PHP研究所より<a
                href="https://www.amazon.co.jp/dp/4569830749"
                target="_blank"
                >文庫版</a
              >も出版されています。
            </p>
          </div>
          <div class="c-section__box">
            <h3 class="c-section__sub-title">Shimeji</h3>
            <p><img src="images/gsimeji01.png" alt="gsimeji01" /></p>
            <p>
              <a href="http://www.group-finity.com/Shimeji/"
                >「しめじ - Ultimate Edition」</a
              >を 差し替えたものです。
            </p>
            <p>
              <span
                >※増えすぎたらタスクバーのアイコン右クリック&#8658;一匹だけ残す等適度に行う事推奨です。</span
              >
            </p>
            <ul>
              <li>
                リン (pass：Crin)：<a
                  href="https://ux.getuploader.com/miwashiba/download/25"
                  target="_blank"
                  >DL</a
                >
              </li>
              <li>
                レン (pass：Clen)：<a
                  href="https://ux.getuploader.com/miwashiba/download/26"
                  target="_blank"
                  >DL</a
                >
              </li>
              <li>
                ミク (pass：Cmik)：<a
                  href="https://ux.getuploader.com/miwashiba/download/27"
                  target="_blank"
                  >DL</a
                >
              </li>
            </ul>
          </div>
        </section>
      </div>
    </main>

    <div class="l-basic__page-top"><img src="/img/icon_top.svg" alt="" /></div>

    <div class="l-basic__footer">
      <%- include('../_object/_component/_footer.ejs') %>
    </div>
    <%- include('../_object/_component/_script.ejs') %>
  </body>
</html>