<%
  const links = [
    { name: 'pixiv', link: 'https://www.pixiv.net/member.php?id=2550807' },
    { name: 'pixivFANBOX', link: 'https://www.pixiv.net/fanbox/creator/2550807' },
    { name: 'niconico', link: 'https://www.nicovideo.jp/user/21427527/' },
    { name: 'Tumblr', link: 'https://miwashiiba.tumblr.com' },
    { name: 'Steam', link: 'https://store.steampowered.com/search/?term=miwashiba' },
    { name: 'BOOTH', link: 'https://miwasiba.booth.pm' }
  ]
  const profile = [
    { term: '誕生日', data: '4月22日' },
    { term: '血液型', data: 'A型' },
    { term: '出身地', data: '福岡' },
    { class: 'soft', term: '使用ソフト', data: 'photoshop CS6 / SAI / CLIPStudioPaint EX / After Effect CS6 / AviUtl / つんでれんこ' }
  ]
-%>
<div class="p-profile">
  <div class="p-profile__container">
    <div class="p-profile__about">
      <h3 class="p-profile__name">
        △○□×
        <span>- miwashiba -</span>
      </h3>
      <dl class="p-profile__dl">
        <% profile.forEach(e => { -%>
        <dt class="<%= e.class %>"><%= e.term %></dt>
        <dd><%= e.data %></dd>
        <% }); %>
      </dl>
      <ul class="p-profile__list">
        <% links.forEach(e => { -%>
        <li class="p-profile__item">
          <a href="<%= e.link %>" target="_blank" class="p-profile__link"><%= e.name %></a>
        </li>
        <% }); %>
      </ul>
      <p class="p-profile__text">
        実家の手伝いをしつつフリーでイラストレーターをしています。<br>
        絵を描いたり他には動画を作ったり。色々挑戦したい。
      </p>
    </div>
    <div class="p-profile__thumbnail">
      <div class="p-profile__icon">
        <img src="/img/profile-icon.jpg" alt="">
      </div>
    </div>
  </div>
</div>