<!DOCTYPE html>
<html lang="ja">
<%- include('../_object/_component/_head.ejs') %>

<body class="l-basic">
  <header class="l-basic__header">
    <%- include('../_object/_component/_header.ejs') %>
  </header>
  <main class="l-basic__main">
    <div class="l-basic__contents">
      <div class="l-basic__kv">
        <%- include('../_object/_component/_kv.ejs') %>
      </div>

      <section class="c-section">
        <h2 class="c-section__title">Works</h2>
        <%- include('../_object/_project/_works.ejs') %>
      </section>
    </div>
  </main>

  <div class="l-basic__page-top" data-page-top><img src="/img/icon_top.svg" alt="" /></div>
  <div class="l-basic__menu" data-open-menu><img src="/img/icon_menu.svg" alt="" /></div>

  <div class="l-basic__footer">
    <%- include('../_object/_component/_footer.ejs') %>
  </div>
  <div class="l-basic__navigation" data-navigation data-close-menu>
    <%- include('../_object/_component/_menu.ejs') %>
  </div>
  <%- include('../_object/_component/_script.ejs') %>
</body>

</html>